{% extends 'ArcanysEasyAppBundle::template.html.twig' %}
{% set pageTitle = 'Revenue Dashboard' %}

{# FILTER VIEW FOR ADMIN AND ACCOUNTANT #}
{% set is_admin_accountant = false %}
{% if app.security.token.user.roles is iterable %}
    {% for roles in app.security.token.user.roles %}
        {% if roles == 'ROLE_ADMIN' or roles == 'ROLE_SUPER_ADMIN' or roles == 'ROLE_ACCOUNTANT'  %}
            {% set is_admin_accountant = true %}
        {% endif %}
    {% endfor %}
{% endif %}

{% block addtl_stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/arcanyseasyapp/css/jquery-ui.css') }}" />
{% endblock %}

{% block nav %}
    {% include 'ArcanysEasyAppBundle::nav.html.twig' with { 'active' : 'revenue' } %}
{% endblock %}

{% block revenuenav %}
	<div class="second-nav">
		<ul class="cUL fl">
			{% include 'ArcanysEasyAppBundle::navtab-revenue.html.twig' with { 'activetab' : 'inter' } %}
		</ul>
	</div>
{% endblock %}

{% block container %}
    <!-- Container -->
    {% if is_admin_accountant %}
        <div class="container">
            <div class="blue-header forapproval">
				<form id="entity_form" method="get" action="">
				<div class="revenue-select-div fl" style="padding-top: 25px; padding-bottom: 25px;">
					<span style="display: block; color: #999;">Capital Entity Transfers From:</span>
					<select class="revenue-select" name="entity_id_from">
						<option value="0">All Entities</option>
						{% for list in entity %}
							{% if list.id == curr_entid_from %}
								<option value="{{ list.id }}" selected='selected'>{{ list.entityName }}</option>
							{% else %}
								<option value="{{ list.id }}">{{ list.entityName }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="revenue-select-div fl" style="padding-top: 25px; padding-bottom: 25px; padding-left: 100px;">
					<span style="display: block; color: #999;">Capital Entity Transfers To:</span>
					<select class="revenue-select" name="entity_id_to">
						<option value="0">All Entities</option>
						{% for list in entity %}
							{% if list.id == curr_entid_to %}
								<option value="{{ list.id }}" selected='selected'>{{ list.entityName }}</option>
							{% else %}
								<option value="{{ list.id }}">{{ list.entityName }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				</form>
				<div class="header-list-button fr" style="margin-top: 30px;">
					<a href="{{ url('Revenue_add_inter') }}" class="blue"><i class="icons add" style="float: none;"></i>Record Entity Capital Transfers</a>
				</div>
				<table class="pending-tbl">
					<tr>
						<th width="15%">Date</th>
						<th width="15%">From</th>
						<th width="15%">To</th>
						<th width="40%">Description</th>
						<th width="10%" style="text-align:center">Amount</th>
					</tr>
					{% if rev is empty %}
						<tr>
							<td colspan="13" align="center">No Entity Capital Transfers available</td>
						</tr>
					{% else %}
						{% for list in rev %}
							<tr>
								<td>{{ list.0.dateadded }}</td>
								<td><a href="{{ url('Revenue_edit_inter', {'id': list.0.id}) }}">{{ list.entityNameFrom|length > 25 ? list.entityNameFrom|slice(0, 25) ~ '...' : list.entityNameFrom }}</a></td>
								<td>{{ list.entityNameTo|length > 25 ? list.entityNameTo|slice(0, 25) ~ '...' : list.entityNameTo }}</td>
								<td>{{ list.0.description|length > 60 ? list.0.description|slice(0, 60) ~ '...' : list.0.description }}</td>
								<td><span class="dollar-position">$</span> <span class="amt-position">{{ list.0.amount|number_format(2, '.', ',')|length > 15 ? list.0.amount|number_format(2, '.', ',')|slice(0, 15) ~ '...' : list.0.amount|number_format(2, '.', ',') }}</span></td>
							</tr>
						{% endfor %}
					{% endif %}
				</table>
				<table>
					<tr>
						<td style="border: 0">{{ knp_pagination_render(rev) }}</td>
					</tr>
				</table>
			</div>
        </div>
    {% else %}
        You cannot access
    {% endif %}
{% endblock %}

{% block footerjavascript %}
    <script type="text/javascript" src="{{ asset('bundles/arcanyseasyapp/js/vendor/jquery-ui.min-1.11.1.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.revenue-select').change(function() {
				$('#entity_form').submit();
			});
		});
	</script>
{% endblock %}